[2016-09-15 04:10] alfg opened #1 "Not Found Response"
Add a handler to a "Not Found" response.

[2016-10-21 21:02] avipatel91 commented on #1
i can take this up.

[2016-10-23 19:58] avipatel91 commented on #1
I'll take this one up.

[2016-10-23 21:05] alfg commented on #1
Sounds good! @avipatel91

[2016-10-23 22:22] avipatel91 commented on #1
PR #2

[2016-10-23 23:51] #1 closed, assigned to nobody

[2017-02-06 20:21] gabrielCortesReyes opened #3 "HI, can u add a level and avatar img in the profile response"
Hi,

Thank you for your work.

I would appreciate it if you could add the player level and avatar image in the profile response.

[2017-02-07 18:00] alfg commented on #3
Hi @gabrielCortesReyes,

I'll look into this soon!

[2017-02-09 04:46] alfg commented on #3
This is done!

http://ow-api.herokuapp.com/profile/pc/us/spacecat-11681

Thanks!

[2017-02-09 04:46] #3 closed, assigned to nobody

[2017-02-27 08:04] Simego opened #6 "Searching names with simbol Ƕ"
I'm testing your API and liking it so far compared to many others, the only problem i found was when the battletag has the simbol Ƕ (the one people use to make the nickname big) and i haven't found a way to fix it

[2017-02-28 02:02] alfg commented on #6
Hi @Simego. Thanks for checking it out!

Do you have an example of a character posting using the Ƕ symbol on the overwatch community site? https://playoverwatch.com/en-us/community/

I'm guessing it might just be an encoding fix.

[2017-02-28 08:52] Simego commented on #6
Yeah i think it is encoding..
https://playoverwatch.com/en-us/search?q=HINO%C7%B6-1257
https://www.overbuff.com/players/pc/HINO%C7%B6-1257

[2017-03-01 03:28] alfg commented on #6
Should be fixed!

http://ow-api.herokuapp.com/profile/pc/us/HINO%C7%B6-1257

[2017-03-01 03:28] #6 closed, assigned to nobody

[2017-03-04 20:39] jacc opened #7 "Error when deploying to Heroku"
Error says: No app.json located in the repo URL provided.

Make sure that an app.json file exists in the project root directory.

[2017-03-04 21:38] alfg commented on #7
Good catch! I just added the app.json file. Go ahead and try it again.

Thanks!

[2017-03-04 21:47] #7 closed, assigned to nobody

[2017-03-04 22:10] jacc commented on #7
Thanks!

[2017-04-21 00:03] Ruthalas opened #8 "Regarding Player "Star" URLs"
Hey guys! Apologies if this is the incorrect channel to ask about this, but I have a question about the "star" data returned by your API.

From a quick look at your code, it looks like the urls you are returning are directly pulled from playoverwatch. Have you noticed any pattern in the star URLs?

There appear to be many alternate images for each level of stars.
One bronze star, for example, can

[2017-04-21 02:55] alfg commented on #8
Hi @Ruthalas,

Correct, we just pull the image url from the scraped content from the playoverwatch page.

It seems the naming conventions for the filenames are in hexidecimal, starting with
`0x0250000000000922`, which is basically hex for `02800000934`, or just `934` if you use only the last 2 bytes.

So it seems they are in incremental order. For example:
[code]

I'm not too sure how the decimal

[2017-05-03 16:39] #8 closed, assigned to nobody

[2017-05-04 14:08] gabrielCortesReyes commented on #3
Thanks to u !!

2017-02-09 1:46 GMT-03:00 Alfred Gutierrez <notifications@github.com>:

[2017-05-27 23:26] phillip-elm opened #9 "Level doesn't factor in stars"
My account is level 255, but the API returns level 55. I suspect this is because the official overwatch page shows 55 and has long numeric filenames for the stars under the portrait.

masteroverwatch.com shows the right value, so it looks like they've figured this out.

[2017-05-28 05:17] alfg commented on #9
Hi @phillip-elm,

Thanks for reporting this. I've been procrastinating on fixing this for a while now, but it's now fixed as part of https://github.com/alfg/overwatch-api/pull/10! :)

Feel free to report back if you experience any issues.

Thanks!
-Alf

[2017-05-28 05:17] #9 closed, assigned to nobody

[2017-05-28 20:55] phillip-elm commented on #9
Thanks for the quick fix, @alfg - good stuff! :smile:

[2017-05-30 23:00] Olegui opened #11 "Drawings and losses"
Hello!
Was the draw and defeat removed from the profile?
They were very useful to me.

Thanks!

[2017-05-30 23:24] alfg commented on #11
Hi @pianogui,

Losses were being calculated by `(gamesPlayed - wins)` and wasn't accounting for draws, so I removed the stat recently since it was mostly inaccurate. However, losses and draws don't seem to appear on the profile page for quickplay on https://playoverwatch.com, only competitive.

I'll look into adding losses/draws for competitive soon, but probably not quickplay unless there's anoth

[2017-05-30 23:41] Olegui commented on #11
Thanks! You're great!

[2017-05-30 23:50] alfg commented on #11
Leaving this open until I add in the fix. :)

[2017-05-31 02:10] alfg commented on #11
`lost` and `draw` are now added to `competitive` in profile. Also note I've updated `wins` to `won` as well.

https://github.com/alfg/overwatch-api/pull/12

[code]

Feel free to re-open if you have any issues!

Thanks!
-Alf

[2017-05-31 02:10] #11 closed, assigned to nobody

[2017-07-06 00:39] Ruben-Smit opened #13 "[Feature Request] Ability to get only one value from the object from url"
Hello,

I was trying to use your api with twitch's nightbot's commands but it has a 400 character limit.
Therefore I would like to have a way to get only 1 value in plain text by changing the url.
Right now I have worked around it by hosting my own website and getting the exact data from your api but I'd love to just get it directly.

Thanks for reading and thanks for the cool API

[2017-07-06 00:55] alfg commented on #13
Hi @Rerbun,

It sounds like you want to filter out certain properties from the response to minimize the character limit, correct?

Would something like this work?
`http://ow-api.herokuapp.com/profile/pc/us/Alf-1608?include=username,games`

With a response:
[code]

If that sounds about right, just give me some time and I'll see what I can do.

Thanks!
-Alf

[2017-07-06 05:12] alfg commented on #13
Hi @Rerbun,

I just merged in https://github.com/alfg/overwatch-api/pull/14 with this feature. You should be able to make the request I mentioned above to filter out unwanted properties.

`http://ow-api.herokuapp.com/profile/pc/us/Alf-1608?include=username,games`

[code]

Let me know if this works for you.

[2017-07-07 08:48] Ruben-Smit commented on #13
It's perfect! I've just tested it and works great. Thank you very much!

[2017-07-07 08:55] #13 closed, assigned to nobody

[2017-08-01 21:14] Ruthalas opened #18 "Querying a player with no Rank yields a truncated result"
The array returned for a player who has yet to receive a rank is missing the entry for rank_img entirely, rather than having an entry marked null.

This makes the results inconsistently sized depending on whether a player has earned their rank or not.

Attached are the results for two players, one of whom is ranked for the current season and has 13 fields, while the player who has yet to rank only

[2017-08-01 21:56] alfg commented on #18
Hi @Ruthalas!

Thanks for the suggestion. I'll look into adding a default `null` to `rank_img` later tonight!

-Alf

[2017-08-02 03:58] alfg commented on #18
Hi @Ruthalas,

This is fixed. https://github.com/alfg/overwatch-api/pull/19

Thanks for reporting this. :)

[2017-08-02 03:58] #18 closed, assigned to nobody

[2017-08-02 05:58] Ruthalas commented on #18
Thank you!

Your work is much appreciated.
My friends and I love your API.

[2017-08-05 05:53] richielo opened #20 "help needed - routing"
Thank you very much for developing this API. Hope this is not to improper to ask. I am trying to use this API just for practice and fun. I am very new to nodejs. I am trying to add a router to the code of this API but it's giving me bad request....
I have created a test.js file in the routes directory:

const express = require('express');
const router = express.Router();
router.get('/', (req, res)

[2017-08-05 10:25] alfg commented on #20
Hi @richielo,

In your router.get, try adding the callback `res.json({ test: "test" );`

[2017-08-05 15:45] richielo commented on #20
Hi @alfg thanks a lot for your help , I tried that but it's still not working, are there any other places I may have to change too?

[2017-08-05 18:08] richielo commented on #20
i added this line res.json({ test: "test"}) and it just goes straight to bad request..

[2017-08-05 19:31] alfg commented on #20
Hmm, strange. I just tried testing locally and I'm getting a response.

`app/routes/test.js`
[code]

`app/index.js`
[code]

[code]

[2017-08-05 20:03] richielo commented on #20
....I found that I made a very simple syntax error, thank you so much for your help

[2017-08-05 20:03] #20 closed, assigned to nobody

[2017-08-05 20:25] alfg commented on #20
No problem! Glad you figured it out. :)

[2017-08-07 04:50] richielo opened #21 "search suggestion"
I am not sure if it's possible. But is there a way to have something like a suggestion of players if I don't remember the whole battle tag?

Another quick question, when the query is to console, is the required information still battletag? or will it be something like psn ID or xbox live username? I don't play/own a console so I am not sure.

Thanks a lot for your help in advance

[2017-08-07 04:58] alfg commented on #21
Hi @richielo,

I'm not sure if the search suggestion is possible since this project is built on the existing functionality of https://playoverwatch.com. If that feature was implemented on the Overwatch website, then it may be possible.

Querying console players by Battletag ID is only supported.

Thanks!
-Alf

[2017-08-07 05:40] richielo commented on #21
Hi @alfg

Got it, thanks a lot for the quick reply!

[2017-08-07 05:40] #21 closed, assigned to nobody

[2017-08-15 21:17] Ande1232 opened #22 "Percentage of heroes use"
Hi, how can I get the percentage of heroes used? In this way I could generate bars like in playoverwatch...

I saw that in playoverwatch.com the percentage is printed in the style:
`calc(0px + 23.2266%);"`

[2017-08-16 03:45] alfg commented on #22
Hi @Ande1232,

If using this project as your overwatch API, you would need to get the total `Time Played`, and `Top Heroes.played` values to calculate the percentage.

For example, in my stats for quickplay:

http://ow-api.herokuapp.com/stats/pc/us/Alf-1608

[code]

You'll need to parse this value into an integer since it's stored as a string `"280 hours"`. Then take your top heroes and calculate

[2017-09-02 03:23] P-L-K opened #23 "Rank returning null"
See example:

http://ow-api.herokuapp.com/profile/pc/us/GunBlade-1949

`{"username":"GunBlade","level":954,"portrait":"https://d1u1mce87gyfbn.cloudfront.net/game/unlocks/0x0250000000000BBB.png","games":{"quickplay":{"won":2015},"competitive":{"won":241,"lost":246,"draw":11,"played":498}},"playtime":{"quickplay":"492 hours","competitive":"108 hours"},"competitive":{"rank":null,"rank_img":null},"lev

[2017-09-04 19:19] alfg commented on #23
Hi @P-L-K,

I see the rank and rank img resolving. Did you see it returning null during off season by any chance?

[2017-09-07 19:50] #22 closed, assigned to nobody

[2017-09-07 19:50] #23 closed, assigned to nobody

[2017-10-21 00:19] alfg opened #26 "Add tests for stats and profile parser."
Write AVA unit tests for the profile and stats parsers:

https://github.com/alfg/overwatch-api/blob/master/app/parser/profile.js
https://github.com/alfg/overwatch-api/blob/master/app/parser/stats.js

[2017-10-21 04:09] vomitaftertaste commented on #26
I like to take it if nobody else is working on it

[2017-10-21 04:17] alfg commented on #26
@vomitaftertaste Go for it! :)

[2017-10-21 06:42] vomitaftertaste commented on #26
@alfg how do you wanted the test to be written? Should I have a html file saved/hardcoded and then do some kind of stub for request-promise? Or you want it to just call overwatch server? so that the test will know if some html changes happens.

[2017-10-21 07:22] alfg commented on #26
Lets try the second option. I think it'll be helpful in case the DOM changes to catch fixes.

Since the stats/profile can change over time, we can just test for the types and general data structure sent back.

[2017-10-21 19:53] #26 closed, assigned to nobody

[2017-10-21 20:18] alfg opened #28 "Stats parser is not returning results for stat categories"
The Overwatch career stats page DOM has changed a bit. This is causing most of the stats in the stats parser to return no results (Combat, Deaths, Match Awards, etc.).

https://github.com/alfg/overwatch-api/blob/master/app/parser/stats.js#L66

Example:
http://ow-api.herokuapp.com/stats/pc/us/Alf-1608
No stats for: `'Combat', 'Deaths', 'Match Awards', 'Assists', 'Average', 'Miscellaneous', 'Best',

[2017-10-22 00:50] #28 closed, assigned to nobody

[2017-11-13 17:57] katcosgrove opened #31 "Heroku deployment crashes"
Hi! I'm trying to use this for a school project, but having issues getting a running copy online. I just used the deploy to Heroku button, and it crashes on launch. Here are the logs:

2017-11-13T17:51:04.731103+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=final301overwatch.herokuapp.com request_id=54307148-bd0a-4ae9-a3b3-06e948886ea2 fwd="209.210.157.165" dy

[2017-11-13 19:11] alfg commented on #31
Hi @katcosgrove,

Sorry about that. Looks like a recent update to https://github.com/alfg/srv caused this issue. I reverted the srv package back to 0.3.3 as a tempfix until I can properly fix the issue on srv.

Go ahead and clear your node_modules folder and run npm install again. Heroku deploy should also be fixed on your next deploy.

Report back if this solves your issue.

Thanks!

[2017-12-05 20:56] #31 closed, assigned to alfg

[2018-03-29 01:43] EvHaus opened #32 "API is down"
Looks like the API went down yesterday. The site is not accessible.

[2018-03-29 03:26] alfg commented on #32
Hi @EvHaus,

It seems like I’ve reached my free monthly quota from Heroku. :(

I’ve upgraded my service plan and it should now be back in service. However, keep in mind as mentioned in the readme it is recommended to fork and run your own instance as the one I have hosted on Heroku is used for development and testing.

Thanks!

[2018-03-29 03:26] #32 closed, assigned to nobody

[2018-03-29 03:41] EvHaus commented on #32
Thanks for the fast response. Appreciate it!

[2018-04-05 15:50] EvHaus opened #34 "Feature Request: Allow installation via `npm` for use in NodeJS services"
Firstly, thanks for the amazing API.

I see that this package is already available via the `npm` registry and can be installed through `npm`. However, it looks like it's primarily optimized for running your own instance of the REST API server. I'm wondering if I could request the ability to install this package as an on-demand utility for making requests for OW stats instead. My use case is to use

[2018-04-05 18:45] alfg commented on #34
Hi @EvHaus,

That is correct. This project is an http server for fetching stats from the playoverwatch.com player pages, and not to be used as a client library.

I like the idea of providing both a server and client library, though. I think we can either build in a client module into this project in addition to running the server as an option. Or as a separate project that's just an http client in

[2018-04-05 20:20] EvHaus commented on #34
I think two separate projects might be the cleanest. Then the server project would simply be a consumer of the client library (making it easy to test and confirm that the client library is properly exported).

However, it means more work for you as now you'll have to maintain two projects simultaneously. Unless you use something like `lerna` to do this from a single project.

My recommendation wou

[2018-04-06 04:27] alfg commented on #34
Ah, that's cool. I never heard of lerna before. Thank you.

I like the approach of having two separate modules in one project.

[2018-05-02 04:36] alfg commented on #34
Hi @EvHaus,

I've added https://github.com/alfg/overwatch-api/pull/35 with the above request.

I separated the server and overwatch api into separate package. The `overwatch-api` module is now just the API to utilize the 2 parser exports for getting profiles and stats. See the updated [README.md](https://github.com/alfg/overwatch-api/tree/master/api). This is also packaged via babel with prepublis

[2018-05-02 05:19] EvHaus commented on #34
@alfg  I think you might need to change the `"main"` key in the root `package.json` to be "api/src/index.js". Otherwise you can't import it via `import api from 'overwatch-api'`

[2018-05-14 01:29] alfg commented on #34
Hey @EvHaus,

Sorry for the late reply. If the `main` key in the root package.json refers to the server, does that still need to be updated? The api client has main the key set in `api/package.json`.

[2018-05-14 02:08] EvHaus commented on #34
Currently, when you install `overwatch-api`, it installs the main `package.json`. So if that points to the server, then it's not possible to use this package as intended.

If you want to use the `api/package.json` for that purpose, then you would need to publish two separate packages. First, publish the main server from `/package.json` and then publish the api from `api/package.json` with a comple

[2018-05-14 02:14] alfg commented on #34
Right, currently I'm publishing the root as `overwatch-api-server`, and the client within `api/package.json` as `overwatch-api` to be the client api as two separate packages. Is that different from what you are saying?

[2018-05-14 02:50] EvHaus commented on #34
Ah, my bad! I completely missed the new API docs. It works great. Thank you so much!

[2018-05-14 02:50] #34 closed, assigned to nobody

[2018-05-29 15:50] ghost opened #37 "Add winrate for competitive mode"
f: round((wins / (games - ties)) * 100, 2)

so I would like to see detailed information for each hero

[2018-05-31 22:56] alfg commented on #37
Hi @iAxel,

Adding the winrate to profile/stats shouldn't be an issue, but I'm not so sure about for each hero? Do you know if this is displayed on the battle.net player site?

[2018-06-02 01:56] alfg commented on #37
Ah, I just noticed the Overwatch player page shows the winrates for each hero. I'll look into adding this soon!

[2018-06-03 21:28] alfg commented on #37
`win_rate` is now added to the profile endpoint under `games.competitive`.
`played`, `games_won` and `win_rate` are also added to the stats endpoint under `top_heroes`.

[2018-06-03 21:28] #37 closed, assigned to nobody

[2018-06-04 09:14] ghost commented on #37
ty 👍

[2018-06-08 07:50] bencoullie opened #40 "Hitting api returns an empty object"
When I hit the api with an account code I know exists, such as, `http://ow-api.herokuapp.com/profile/pc/us/VoA-1535` or `http://ow-api.herokuapp.com/profile/pc/us/cupchip-2806` I get an empty object response (no error or explanation).

This only happens sometimes. Other times it works fine with the same credentials. This only started happening a few days ago as far as I can tell.

I can try anothe

[2018-06-08 08:43] alfg commented on #40
Thanks for reporting. Checking into this!

[2018-06-08 08:55] alfg commented on #40
The Overwatch player profile page seems to be returning no results right now as well:
https://playoverwatch.com/en-us/career/pc/VoA-1535

I don't have any rate limiting in place.

Unfortunately, I cannot parse the profile/stats until the Overwatch player page is resolving.

[2018-06-08 08:56] alfg commented on #40
Most of the api calls right now are returning the same results. We'll probably have to wait until the overwatch page issues are resolved.

[2018-06-08 18:14] alfg commented on #40
Seems to be working again.

[2018-06-08 18:14] #40 closed, assigned to nobody

[2018-06-09 21:06] bencoullie commented on #40
Thanks for looking into this! I appreciate it.

Yeah I see, it seems to be official blizzard site issues.

Its still occurring for me: I'm getting a `503` service unavailable when I hit your API and when I try visit the page manually (`503: CloudFront attempted to establish a connection with the origin, but either the attempt failed or the origin closed the connection.`).

🤞 they fix their shit. I

[2018-06-10 01:57] alfg commented on #40
Yeah, hopefully they resolve their issues soon. I noticed other similar overwatch projects are experiencing issues as well.

[2018-06-21 20:50] JoshuaHall opened #41 "Clean up API/API documentation"
Hey, I was looking at the overwatch-api npm package's [documentation](https://github.com/alfg/overwatch-api/blob/master/api/README.md) and I saw that the callback supposedly takes two arguments, `err` and `data`, where `err` contains error info and `data` is the response from the server, but as far as I can tell the second argument data is never actually used, and the first argument is used for bo

[2018-06-22 04:55] alfg commented on #41
Oh wow. Nice catch!

Yes, I should be returning `null` for err when there's a response. I'll fix and update soon!

Thanks for reporting this! :)

[2018-06-22 05:22] alfg commented on #41
Hi @JoshuaHall,

This is updated with #42, deployed, and published to npm. Let me know if this works for you!

Thanks.

[2018-06-22 15:20] JoshuaHall commented on #41
Yeah, the API works as expected for me now, thanks!

[2018-06-22 18:12] alfg commented on #41
Great, thanks! Would love to see the TypeScript types when those are ready. :)

[2018-06-22 18:12] #41 closed, assigned to nobody

[2018-06-26 20:44] JoshuaHall commented on #41
Here are the [completed TypeScript types](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/ff6e2a603e1553bb99c3b934407cd7544d0a2b6b/types/overwatch-api), it isn't available by doing `npm install @types/overwatch-api` or `yarn add @types/overwatch-api` just yet but the bot that they have to automatically add types should do that soon :) Let me know if you have any feedback, this is my first

[2018-06-27 00:46] alfg opened #43 "Private profiles flag"
Now that profiles are private by default, we should add another property indicating the profile is private. All other data is rendered as `null`.

[2018-06-27 00:47] alfg opened #44 "Endorsement level"
Add endorsement_level to profile. The icon is rendered via 3 separate SVGs (one for each endorsement type).

[code]

[2018-06-27 00:47] alfg commented on #41
Awesome. Looks good! Thanks!

[2018-06-27 01:37] alfg commented on #43
#45

[2018-06-27 01:37] #43 closed, assigned to nobody

[2018-06-30 21:17] alfg commented on #44
https://github.com/alfg/overwatch-api/pull/46

[2018-07-01 02:55] #44 closed, assigned to nobody

[2018-07-18 00:32] rxgx opened #49 "API package: Cannot find module 'svg-builder'"
When I use the `overwatch-api` module in a node script:

[code]

I get the error:

[code]

When I add `svg-builder` to the dev dependencies, the error goes away.

[2018-07-18 00:35] alfg commented on #49
Good catch! Looks like I forgot to add the svg-builder to `api/package.json`. I'll fix this tonight.

[2018-07-18 03:54] alfg commented on #49
Fixed with https://github.com/alfg/overwatch-api/commit/6ac3058cfa278ddfa822749b55193d99f82685f3 and npm published!

Thanks again!

[2018-07-18 03:54] #49 closed, assigned to nobody

[2018-07-21 23:56] hardcorshik opened #50 "Requesting PSN/XBL stats"
So, getting profiles from PC works fine with Platform/Region/BattleTag.
But there's no Battletag for PS and Xbox.
So how do I get the stats for that?
I tried

`let platform = 'psn';
    let region = 'us';
    let tag = '<insert psn name here>'];
    var profile;`

`OverwatchApi.getProfile(platform, region, tag, (err, json) => {
        if (err) {
            console.error(err);
        } else {

[2018-07-22 04:01] alfg commented on #50
Hi @HaRDCoRSHiK31,

Try using `region` as `global` and their xbl or psn username as the battletag. Let me know if that works.

If not, can you provide an xbl or psn user I can use to test?

Thanks!

[2018-07-22 19:46] hardcorshik commented on #50
Alright, I tried it, but it failed still.

I used
`platform`: `psn`
`region`: `global`
`tag`: `DrollestMaple03`

[2018-07-22 20:33] alfg commented on #50
Hi @HaRDCoRSHiK31,

I tried the following:
[code]
and i got back results:

[code]

I'm also getting results back from:
http://ow-api.herokuapp.com/profile/psn/global/Drollestmaple03

Although, since the account is private, not all stats will be returned.

[2018-07-22 20:52] hardcorshik commented on #50
Thank you, fixed the issue by updating to a newer version.

[2018-07-22 20:52] #50 closed, assigned to nobody

[2018-08-14 12:15] Shadorc opened #51 "[Feature Request] All Top Heroes stats"
Hello,
it would be nice to have access to each Top Heroes stats.
I don't know if there is a reason for this but we can only get "Time Played" and "Games Won" stats.

Sadly, I can't make a pull request and test it for now but here are the overwatch.guid values for each category (if it can help) ;

Weapon Accuracy: 0x086000000000002F
Eliminations per Life: 0x08600000000003D2
Multikill - Best: 0x0860

[2018-08-14 23:21] alfg commented on #51
Thanks @Shadorc. I'll look into this tonight.

[2018-08-15 03:54] alfg commented on #51
Hi @Shadorc,

I'm not seeing the Weapon Accuracy stat on the playoverwatch page. Can you post an example?
I'm looking at https://playoverwatch.com/en-us/career/pc/xQc-11273.

I see Multikill and Objective Kills showing up on the overwatch-api, but not the other 2. I could be missing something though!

[2018-08-15 04:02] alfg commented on #51
Ah! I see it now. I missed the dropdown filters. I'll work on this soon!

[2018-08-15 04:18] alfg commented on #51
Hi @Shadorc,

I added the changes on https://github.com/alfg/overwatch-api/pull/52.

The API is updated and npm packages are published! Let me know if this works for you.

Thanks!

[2018-08-15 08:50] Shadorc commented on #51
Thanks !
It was quick

[2018-08-15 18:04] #51 closed, assigned to nobody

[2018-08-23 19:23] jasperan opened #54 "Decay"
I have been looking for a decay stat on any profile. Is this doable or possible to obtain/implement in this API?

[2018-08-24 05:04] alfg commented on #54
Hmm, I'm not too sure about this. Is this something that you can see on the playoverwatch.com career page?

[2018-09-02 02:07] alfg commented on #54
Closing. Feel free to reopen if you find a way to calculate the decay.

[2018-09-02 02:07] #54 closed, assigned to nobody

[2018-11-05 05:55] alfg opened #58 "Prestige level not working"
It seems the playoverwatch DOM updated and no longer has the prestige level identified in the `.player-level` style.

We would normally detect this by getting the background image url:
https://github.com/alfg/overwatch-api/blob/master/api/src/parser/profile.js#L27

and calculating it here:
https://github.com/alfg/overwatch-api/blob/master/api/src/parser/utils.js

But it seems to have changed, so i

[2018-11-07 04:48] #58 closed, assigned to nobody

[2018-12-27 14:14] NeonCowboy opened #62 "support ow cn"
I have try to GET http://ow-api.herokuapp.com/profile/pc/cn/MegaAthy-5469
But I can only get {}
So I am wondering if this api support cnow now.

[2018-12-27 23:03] alfg commented on #62
Hi @JohnnyWang94,

Do you have a link to the playoverwatch player page? It doesn't seem to come up on https://playoverwatch.com/en-us/search?q=MegaAthy-5469.

Unless there's a separate url for CN.

[2019-01-09 06:25] NeonCowboy commented on #62
生田絵梨花-51323
I have tried to search on this site, but still can not get the player's information.

[2019-01-12 20:00] alfg commented on #62
OK, if someone is able to find the profile site for CN, then I should be able to parse it.

[2019-01-18 16:08] deriven opened #63 "When profile doesn't exist, receive "Callback was already called.""
To reproduce, use either getProfile() or getStats() with a tag that doesn't exist.  The issue is that the parseHTML and getHTML functions are both trying to callback() an error for the same reason.

I solved this by removing the catch in the getHTML.  Let the catch bubble up instead.

[2019-01-20 06:31] alfg commented on #63
Hi @deriven,

I'm not able to reproduce the `Callback was already called` message. Can you post a snippet I can use as an example? Also, are you using this as a server, or the overwatch-api npm package?

[2019-01-20 06:31] alfg commented on #63
I also just added https://github.com/alfg/overwatch-api/commit/34a88fbb248408c2406ae8d5eb8784d153e55df5 to master, but it's not published yet.

[2019-01-20 07:44] deriven commented on #63
I pulled the latest and tested -- didn't get the issue.  Also ran the npm package and no issue.  However I know why I got the issue.  Both the source and the npm package do not have the async package.  And I believe my version of async in my project was old or something.  The latest async may not show the error.  If I recall, there was an issue on async's github where it doesn't do it anymore or i

[2019-01-20 08:05] alfg commented on #63
Ah, that makes sense. I must have forgotten to include async from one of my last PRs, and instead I probably already had it installed. Good catch. I will fix shortly.

[2019-01-20 08:32] alfg commented on #63
`async` added to dependencies on https://github.com/alfg/overwatch-api/commit/3a8dea1473d2d5111f877c013d074a093be93548.

Thanks!

[2019-01-20 08:32] #63 closed, assigned to nobody

[2019-01-20 12:07] Shadorc commented on #62
It seems like a different endpoint for CN, other APIs have this problem too (https://github.com/Fuyukai/OWAPI/issues/9)
I did not find it, but Master Overwatch did apparently.
For example: https://masteroverwatch.com/profile/pc/cn/Song-5702 exists but https://playoverwatch.com/en-us/career/pc/Song-5702 does not.

[2019-01-20 20:33] alfg commented on #62
Thanks for the info @Shadorc. I wonder how Master Overwatch is doing it. 🤔

[2019-01-21 04:36] alfg opened #64 "Player level images on PlayOverwatch page intermittently fails to load"
Occasionally when loading a player's career page on playoverwatch.com, the `player-rank` and `player-level`'s `background-image` returns back as `null`. Therefore, this causes the respective properties in the json response for profile and stats to also return as null. This also affects tests failing occasionally.

Example:
https://playoverwatch.com/en-us/career/pc/xQc-11273
[code]

[code]

I don't

[2019-01-25 07:04] AkiyamaMinami opened #66 "Use NPM Module: Cross-domain Error"
Sorry to trouble you, when I use the JS API based on document Example in my project for the test, I got a Cross-domain problem error...I don't know how to solve it.
![image](https://user-images.githubusercontent.com/31888190/51729786-1b8bf200-20b0-11e9-8d02-0bd7e226c465.png)

[2019-01-25 07:18] alfg commented on #66
Hi @AkiyamaMinami,

Since the NPM module makes an external xhr request to the playoverwatch.com website to scrape the results, it can only be used as a node module and not through the browser. Unless Blizzard allows, the cross-origin rules will block any JS requests from being made. :(

[2019-01-25 07:25] alfg commented on #66
I would suggest making the API call from the backend/node, and serve the json response to your client/browser frontend. This way you have control over the cross-origin rules.

[2019-01-25 07:57] AkiyamaMinami commented on #66
@alfg Thank you for your explanation, and I follow your suggestion and call API at Node successfully! thank you very much~ 233

[2019-01-25 08:47] #66 closed, assigned to nobody

[2019-01-28 05:17] alfg opened #67 "Notice: Use overwatchy.com instead of ow-api.herokuapp.com"
If you happen to be using the hosted HTTP API, the old DNS `ow-api.herokuapp.com` is now deprecated and redirecting to the new DNS `overwatchy.com`.

You can use the following DNS entries (both http/https):
[code]

[2019-02-04 15:07] antoinegilles commented on #66
hello,
Can you explain the solution please. I use your API with just a front-end to see the values of the players. How can i resolve this problem ?

[2019-02-04 15:09] antoinegilles commented on #66
i use react js for information

[2019-02-04 19:44] alfg commented on #66
Hi @antoinegilles,

You will need to make the request from the backend and serve it to your client to address the CORS issue. This way your frontend client is making a request on the same domain.

https://enable-cors.org/server_expressjs.html

For example, an express.js `server.js` would look something like:
[code]

Then on your react client, you can just call your `/api` endpoint instead of using

[2019-02-05 08:49] antoinegilles commented on #66
Hello @alfg
Thank's for the answers. I realise a little back-end in Node JS to use your API. here is the links of my repo : https://github.com/antoinegilles/backDashboardOverwatch if maybe you want to star it or follow me.
antoine Gilles

[2019-02-05 19:25] alfg commented on #66
Looks good @antoinegilles! Will keep an eye on it to see it in action!

[2019-02-05 21:38] antoinegilles commented on #66
Thanks for now i dont deploy it yet i will tell you when it s ready

[2019-02-05 21:38] antoinegilles commented on #66
But it work in local

[2019-02-05 23:17] Shadorc opened #68 "404 Not Found"
Hello !

The website is currently returning `404 Not Found` on each pages, for example: https://overwatchy.com/

[2019-02-06 04:26] alfg commented on #68
Sorry about that, should be fixed now.

[2019-02-06 04:26] #68 closed, assigned to nobody

[2019-02-18 12:34] antoinegilles commented on #66
hey @alfg
I come back to you to show your my final Front-end project. Here is the link of my repo there is the link for the website. If your like you can start it :) https://github.com/antoinegilles/dashboardOverwatch/blob/master/README.md

[2019-05-11 19:13] #67 closed, assigned to nobody

[2019-08-21 06:20] #64 closed, assigned to nobody

[2019-08-21 06:20] alfg commented on #64
Will reopen if comes up again.

[2019-09-02 23:39] alfg opened #72 "Role queue stats missing"
Latest Travis builds are failing due to role queue stats missing:
[code]

I no longer see the Role Queue stats on the playoverwatch.com page:
https://playoverwatch.com/en-us/career/pc/xQc-11273

The parser can't find the DOM elements:
[code]

Did Blizzard change something around Role Queue? Any input would be appreciated.

Thanks!

[2019-09-03 13:23] filp commented on #72
I can only assume Blizzard is working on this alongside the Role Queue beta, and will be updating profiles to match at some point. Even in-game there's a lot of inconsistency in how stats are displayed, where relating to role-based skill.

Ran into this issue while investigating options for fixing my own API client, and so far there doesn't appear to be any solution.

[2019-09-03 18:26] alfg commented on #72
Thanks for the input @filp. I haven't played in a while, so I haven't been keeping up with some of the latest updates. Appreciate the info!

[2019-09-07 19:11] alfg commented on #72
Seems to be working again and the Travis build are passing. Will re-open if it comes back up.

[2019-09-07 19:11] #72 closed, assigned to nobody

[2019-12-13 15:09] Shadorc opened #75 "Application Error"
Hi,
recently the API started throwing 404 on every requests.
For example: https://ow-api.herokuapp.com/stats/pc/eu/Shadorc-2503

[2019-12-14 02:10] alfg commented on #75
Hi @Shadorc,

The updated domain is now https://owapi.io.

Try:
https://owapi.io/stats/pc/eu/Shadorc-2503

[2019-12-14 02:10] #75 closed, assigned to nobody

[2019-12-14 10:05] Shadorc commented on #75
Oh sorry, I didn't updated the domain URL, thanks !

[2020-01-16 06:54] dansleboby opened #76 "Add overwatch arcade title"
In title

[2020-01-16 06:59] alfg commented on #76
Can you explain what the arcade title is? And if possible a link or example on the playoverwatch website?

I haven't been staying up to date on Overwatch lately.

[2020-01-16 08:10] dansleboby commented on #76
https://overwatcharcade.today/

https://overwatcharcade.today/api/today

https://overwatcharcade.today/api/gamemodes

[2020-01-17 04:07] alfg commented on #76
It's a pretty cool website, but out of scope for this project. Thanks for the suggestion, though!

Is it open source? I couldn't find a Github link on their website.

[2020-01-17 04:32] #76 closed, assigned to nobody

[2020-01-24 00:33] addidotlol opened #77 "Support Nintendo Switch for NPM Package"
OW for Nintendo Switch just came out, so there should be support for Nintendo Switch in the NPM package.

[2020-01-24 04:59] alfg commented on #77
Thanks for the heads up. I'll look into adding this soon!

[2020-01-24 05:11] alfg commented on #77
So it seems you can already use `nintendo-switch` as the platform, and the also plug in the username:
https://api.owapi.io/profile/nintendo-switch/us/KRUSHER99-8203f14ccb7628fa52851ee40a04c216

The above is just a private account I searched, so it doesn't display all the details. But it should work for the NPM package too.

I'll look into updating the docs too.

[2020-01-24 20:28] Madrox opened #78 "Not all stats available"
Since I last used this library a year ago, I noticed it no longer exposes the per-hero stats. Is that intended?

[2020-01-25 06:32] alfg commented on #78
Hi @Madrox,

Do you have an example of the `per-hero` stats that are missing? Do you mean `top_heroes`?

[2020-01-27 00:13] #77 closed, assigned to nobody

[2020-01-28 06:57] Madrox commented on #78
Sure! When I look in a `getStats` call, I do see top heroes. For example:
`played: [],
games_won: [],
weapon_accuracy: [],
eliminations_per_life: [],
multikill_best: [],
objective_kills_average: [ ]
},`

However, when I look at a profile on playoverwatch.com (such as [mine](https://playoverwatch.com/en-us/career/psn/itmightbedave)) there are several more stats per-hero, such as damage done per her

[2020-01-28 07:24] alfg commented on #78
Ah, okay. I don't think I've parsed the per-hero stats yet, but I'll leave this open as a TODO. Thanks for reporting this.

[2020-01-30 20:46] Madrox commented on #78
Thanks!

[2020-04-05 16:15] Shadorc opened #80 "API not working anymore"
Hi,

Blizzard has probably pushed some breaking changes to their Career Overview page because overwatch-api is returning null for all fields or maybe the API is down.

Example:
https://playoverwatch.com/en-gb/career/pc/Shadorc-2503
https://owapi.io/profile/pc/global/Shadorc-2503

[2020-04-05 19:34] alfg commented on #80
Thanks for reporting this. I'll check into this today.

[2020-04-05 19:49] alfg commented on #80
Running locally seems to be fine. However, I think the deployed server is getting throttled from the playoverwatch website from too many requests.

[code]

I may need to add more API rate limiting on my end to prevent this or spread the load across more servers.

[2020-04-05 21:14] Shadorc commented on #80
Ok, let me know if there is any news!

[2020-04-05 21:16] alfg commented on #80
It should be back up (for now). However, I'm still working on rate limits and possibly longer caching to prevent getting throttled.

[2020-04-05 21:23] Shadorc commented on #80
That's a nice idea :) Good luck!
And thanks for your awesome API

[2020-04-06 00:56] alfg commented on #80
OK, I've added #81 to support configured caching TTL. I've updated `owapi.io` to 15 minute TTL and updated the rate limiting rules a bit. We'll see how long this works for. 😆 Hopefully this will help prevent any throttle limits on the playoverwatch page.

However, I'm sure this is going to increase memory usage, so I'll need to look into caching into a store, such as redis. I've also increased mem

[2020-04-06 00:56] #80 closed, assigned to nobody

[2020-04-06 00:57] alfg opened #82 "💬 Report owapi.io API Status issues here"
Please report here if you run into any issues on the hosted API at: https://owapi.io

[2020-04-06 01:04] alfg opened #83 "[feature request] Add support for redis-based caching"
As traffic increases on the hosted version of `owapi.io`, memory usage is higher due to the in-memory caching from `node-cache` module. We should switch to a database store such as redis, or maybe even an LRU cache.

This only applies to the express server, and not the npm api module.

[2020-06-26 22:55] Shadorc commented on #82
The API seems down right now, returning "Application error": http://ow-api.herokuapp.com/

[2020-06-27 03:20] alfg commented on #82
Hi @Shadorc,

That host is no longer in use, please try: https://owapi.io/

[2020-06-27 18:28] Shadorc commented on #82
Oh sorry, I forgot. The API was sometimes returning JSON with all fields to null so I checked the first url on the doc' page and it was this linked, I forgot that this is now outdated.

[2020-06-27 21:09] alfg commented on #82
@Shadorc Ah, good point. I gotta update the hostname on the docs.

Edit: Docs are now updated.

[2020-07-08 10:51] saitho opened #84 "All information and stats missing in profile response"
I just checked the response of the API request for my profile.

https://owapi.io/profile/pc/eu/saitho-2703

Seems like the stats are missing. I'm especially looking for the quickplay time (see https://github.com/bartok765/galaxy_blizzard_plugin/issues/21).

Other information such as username and level are also empty.

[2020-07-09 03:30] alfg commented on #84
Thanks @saitho. Checking into this.

[2020-07-09 04:17] alfg commented on #84
Should be good now. Thanks!

[2020-07-15 04:14] alfg commented on #83
Added on #86.

[2020-07-15 04:14] #83 closed, assigned to alfg

[2020-08-02 16:47] WilsonCazarre commented on #84
That issue it's still happening sometimes, but it doesn't seem to have a pattern.
Yesterday I was trying to get my profile and all the info was returned as `null`. Later, it started to return the correct info again, but my friend's profile went `null`.

Today both profiles are working.
Is there anything that you can say about that issue? What is causing it and why it feels like it's random?

[2020-08-02 19:52] alfg commented on #84
Hi @WilsonCazarre,

Unfortunately, I've been getting hit by rate limits on https://playoverwatch.com lately. I had to increase caching to 30mins to help mitigate the issue, but it's not 100% effective.

My guess is when a profile comes back as `null`, it was hit by a rate limit, and the `null` results are cached. I'll add a fix soon to prevent caching the results if the profile is `null` from the

[2020-08-03 02:54] alfg commented on #84
Updated to prevent caching profiles with `null` results and added a retry mechanism when fetching player data from playoverwatch.com.

#90

I also skimmed through the cached entries and don't see any profiles with `null` results so far. However, as I mentioned before, it is still susceptible to the rate limiting issue.

Let me know if you still run into the issue. Thanks!

Note: Will be publishing

[2020-08-03 02:54] #84 closed, assigned to nobody

[2020-09-09 11:56] harrisonhoward opened #91 "Error: Cannot find module 'async'"
Making a Discord Bot using this module.

This is the snippet of the code that's causing the error
[code]

This is the error
[code]

[2020-09-09 12:00] harrisonhoward commented on #91
I fixed it by just doing `npm instal async` rather weird that it doesn't get installed with the module itself.

[2020-09-09 18:35] alfg commented on #91
Ah, good catch. I think I added the `async` module to `devDependencies` by mistake, instead of just `dependencies` for the  module:
https://github.com/alfg/overwatch-api/blob/master/api/package.json#L22

I'll look into fixing this soon.

[2020-09-10 02:21] alfg commented on #91
This is fixed in latest [0.10.3](https://www.npmjs.com/package/overwatch-api/v/0.10.3). Thanks!

[2020-09-10 02:21] #91 closed, assigned to nobody

[2020-10-21 20:22] micalevisk opened #93 "Fix `message` value on error responses"
https://github.com/alfg/overwatch-api/blob/6e3ae07431d2ba1ef5f5aba7a1d4774f3ec4d9ad/server/routes/owl/standings.js#L29
this line leads to `{ message: [object Object] }` as a response. I think you must change to `err.message` or just drop the `.toString()` call

[2020-10-22 01:19] alfg commented on #93
Ah, good catch. I think the OWL endpoint `https://api.overwatchleague.com/v2/standings` was probably returning a bad response. This happens sometimes when the server gets rate limited.

 I'll probably update this to a generic error response message.

[2020-10-31 23:05] Shadorc commented on #82
Blizzard seems to have updated its HTML, all fields are now null/empty: https://owapi.io/profile/pc/eu/shadorc-2503

[2020-10-31 23:13] Shadorc opened #94 "global region does not work"
Hello,
It seems that the `global` region no longer work.
https://owapi.io/profile/pc/eu/Shadorc-2503 works but not https://owapi.io/profile/pc/global/Shadorc-2503

[2020-11-01 01:00] alfg commented on #94
Hi @Shadorc,

I'm checking https://owapi.io/profile/pc/global/Shadorc-2503 and it seems to load. Can you check again?

[2020-11-01 09:15] Shadorc commented on #94
It now works... All the fields were null or empty and I could reproduce consistently.. mmh

[2020-11-01 12:13] #94 closed, assigned to nobody

[2020-11-01 20:20] alfg commented on #94
Ah, might have been a hiccup on Blizzard's PlayOverwatch page, and results got cached.

[2021-02-01 04:09] alfg opened #97 "⚠️ Overwatch League API Unavailable"
Just a heads up- the OWL API seems to be unavailable, leading to an error when using any of the OWL endpoints for this project and the NPM module.

https://api.overwatchleague.com/

Until the API is restored, the OWL endpoints will be unavailable.

[2021-03-14 18:42] Shadorc commented on #82
Hello,
The API seems down: http://owapi.io/profile/pc/us/Jay3-11118, all fields are empty or null

[2021-03-14 19:14] alfg commented on #82
Hey @Shadorc,

Thanks for the report. I flushed the cache and it seems to be getting results again. There may have been some timeouts.

[2021-03-14 23:08] Shadorc commented on #82
Thank you for your quick response!

[2021-03-22 16:03] Shadorc commented on #82
Hello,
I'm encountering the same issue, all fields null or empty http://owapi.io/profile/pc/us/Jay3-11118

[2021-03-22 17:29] alfg commented on #82
Hey @Shadorc,

It seems to be responding with data again. Most likely a timeout on playoverwatch.com again and results were cached for a bit.

[2021-03-22 17:39] Shadorc commented on #82
How long are the cached values kept?
Would it be possible to do something like, keep the value in cache, and when refreshing, do not update the last value if it contains only null or empty fields?

[2021-03-22 18:02] alfg commented on #82
I currently have it set for a TTL of 30min (due to Blizzards rate limiting).

I added a retry mechanism a while back to not cache the results if the parse fails. However, there's probably something I missed in the event of a timeout or non-200 response. I'll check into it again soon.

[2021-05-11 14:56] bhgr216 commented on #82
It seems to be down again.

[2021-05-11 15:03] Shadorc commented on #82
It has been for a few days now

[2021-05-11 17:31] alfg commented on #82
Thanks for reporting. Should be back up now. It was blocked again by Blizzard/PlayOverwatch.com.

[2021-06-08 02:55] CornellFL commented on #82
Hello, I don't think that the API is working properly. It keeps saying {"message":"Error: Profile not found"} even for the sample url: http://owapi.io/profile/pc/us/Jay3-11118

I am new to programming so it could just be me.

[2021-06-08 02:58] alfg commented on #82
Hi @Zoltixx,

Yeah, the tests are failing because the Jay3 account seems to give a `Profile not found` now. I'm not sure why it changed, but I need to update to use another active account for testing.

https://playoverwatch.com/en-us/career/pc/Jay3-11118/ -> Profile Not Found

Other accounts seem to work fine:
https://owapi.io/profile/pc/us/xQc-11273

[2021-06-08 03:01] CornellFL commented on #82
I just realized that the usernames are case sensitive, I got it to recognize my account. Thanks.

[2022-03-15 01:40] dependasec[bot] opened #107 "同学，您这个项目引入了567个开源组件，存在14个漏洞，辛苦升级一下"
检测到 alfg/overwatch-api 一共引入了567个开源组件，存在14个漏洞
[code]
另外还有14个漏洞，详细报告：https://mofeisec.com/jr?p=a02d22

[2022-03-15 01:40] kwaicsse commented on #107
@alfg，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-15 02:05] alfg commented on #107
I'll run an upgrade to clear some of the security warnings. It's been a while since upgrading packages in this project.

[2022-03-16 20:26] #107 closed, assigned to nobody

[2022-03-27 09:52] Nicron1557 opened #108 "Certain parts come back as null"
won/lost/draw and playtime all come back as null on several accounts I've tested and its breaking my program due to it being seen as undefined.

Example of broken api: http://owapi.io/profile/pc/ca/SkaterSeth-1551
![image](https://user-images.githubusercontent.com/86170690/160276112-1c194eff-92cc-487a-901d-edbc4eab8a0d.png)

[2022-03-27 19:20] alfg commented on #108
Hey @Nicron1557, the account must not be private in order for all stats to show.
https://playoverwatch.com/en-us/career/pc/SkaterSeth-1551/

This is noted in the readme since the June 26, 2018 patch:
https://github.com/alfg/overwatch-api#features

[2022-03-27 19:20] #108 closed, assigned to nobody

[2022-08-30 13:45] axi92 opened #109 "AUS Players not working?"
This profile is not working with the api.
https://playoverwatch.com/en-us/career/pc/CoachTeach-1352/
Any Ideas why?
What region is AUS?

[2022-08-30 19:40] alfg commented on #109
Seems to resolve on:
https://owapi.io/profile/pc/us/CoachTeach-1352

[2022-08-30 19:45] axi92 commented on #109
Ah ok its case sensitive, did not know that.
Do you know how often blizzard updates those statistics when you are playing?

[2022-08-30 20:14] alfg commented on #109
Not sure how often Blizzard updates, but I have my application set to refresh every 15mins.

[2022-08-31 08:15] axi92 commented on #109
Do you use a TSDB for that or what is your usecase?

[2022-09-01 02:43] alfg commented on #109
Sorry, can you elaborate?

[2022-09-01 09:47] axi92 commented on #109
What is your usecase, what do you use your data for? I tried to make a chart (time based) so I can see when did what change over time.
And for that it would be interesting how often blizzard updates those values.
If it is only 2 times a day I dont need to scrap every 15 minutes =)

[2022-09-02 00:50] alfg commented on #109
I don't currently use it for anything, just provided an API over the playoverwatch page for anyone to use. I only cache for 15mins and update as a request comes in for that player. I don't scrape the whole website every 15mins.

[2022-09-02 08:50] axi92 commented on #109
I figured it out, every time you close OW your stats get updated.

[2022-09-02 08:50] #109 closed, assigned to nobody